@use './variables' as var;



form {
    background-color: var.$secondaryColor;
    color: var.$secondarySupportColor;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    max-width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    background-color: rgba(88, 204, 237, 0.05);
}



#app {
    font-family: var.$mainFont;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: var.$primarySupportColor;
    width: 100vw;
    margin: 0 auto;
    border: 1px solid blueviolet;
}

.nav {
    @extend .registration__smallNav;
    
    a {
        font-weight: bold;
        color: var.$primarySupportColor;
        opacity: 0.4;
    };
    a.router-link-exact-active {
        color: var.$primaryColor;
        opacity: 1.0;
    }
}
.app__main-nav {
    text-align: right;
    border-bottom: 7px solid var.$primaryColor;
}
.registration__smallNav {
    @include var.nav-style(none);
}

.nav-elem {
    font-weight: bold;
    color: var.$secondaryColor;
    padding: 10px;
}
.advert__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
        margin: 30px auto;
        font-size: 1.5vw;
    };
    .adverts__container {
        width: 100vw;
        // background-color: var.$secondaryColor;
    }
}
.advert-item {
    font-weight: bold;
    color: var.$secondarySupportColor;
    text-align: left;
    margin: 0 auto 1rem;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    height: 15rem;
    h2 {
        color: var.$primaryColor;
        font-family: var.$backupFont;
        font-weight: 700;
        font-size: xx-large;
    };
}
.advert-item__hr {
    border: none;
    border-bottom: 1px solid var.$primaryColor;
    // width: 100%;
    // display: inline-block;
    text-align: left;
    // border-width: 5px;
}
.advert__img-container {
    width: 15%;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.advert__img {
    width: 90%;
    // aspect-ratio: 1 / 1;
}
.advert__text {
    width: 80%;
    
    .advert__description {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
.advert {
  color: var.$secondaryColor;
  border: 2px solid var.$primaryColor;
//   margin: 20px 0px;
  padding: 20px;
}
.completed {
  opacity: 0.5;
  text-decoration: line-through;
}
.fade-enter-active, .fade-leave-active {
    transition: opacity .4s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}
// input[type=button], input[type=submit], input[type=reset] {
//     background-color: var.$secondarySupportColor;
//     border: none;
//     color: var.$primaryColor;
//     padding: 16px 32px;
//     text-decoration: none;
//     margin: 4px 2px;
//     cursor: pointer;
//     box-shadow: 0 0 1rem var.$secondarySupportColor;
// }
// #nav a.router-link-exact-active {
//     color: $primaryColor;
// }
.selected {
    color: var.$primaryColor !important;
    opacity: 1.0 !important;
}
input {
    border: none;
    border-bottom: 1px solid red;
    background: transparent;
    color: #FFF;
    font: 400 13.3333px var.$mainFont;
    margin: 0 2rem;
    outline: none;
}
input::placeholder {
    color: #FFFFFF;
}

.form__submit {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: var.$secondarySupportColor;
    font-family: var.$mainFont;
    font-size: 18px;
    font-weight: 100;
    padding: 14px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid var.$secondarySupportColor 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    padding: 16px 32px;
    margin: 24px 2px;
 }
 
 .form__submit:hover {
    color: #FFFFFF;
    background: var.$secondarySupportColor;
    background-image: -webkit-linear-gradient(top, #1E62D0, var.$secondarySupportColor);
    background-image: -moz-linear-gradient(top, #1E62D0, var.$secondarySupportColor);
    background-image: -ms-linear-gradient(top, #1E62D0, var.$secondarySupportColor);
    background-image: -o-linear-gradient(top, #1E62D0, var.$secondarySupportColor);
    background-image: -webkit-gradient(to bottom, #1E62D0, var.$secondarySupportColor);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }
 .form__span--required {
     color: red;
 }